.gallery-section {
  width: 70%;
  position: relative;
  left: 17%;
}

.gallery-container {
  display: grid;
  grid-gap: 50px;
  /* grid-gap: 20px; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  margin-top: 10em;

}

.gallery-container img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  height: auto;
  border-radius: 8px;
  /* box-shadow: 0 0 1px #333; */
  transition: all 1.5s ease;
  cursor: pointer;

}

.collage-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.collage-link>div>p {
  color: rgb(167, 167, 167);
}