.gallery-section{
  width: 70%;
  position: relative;
  left: 17%;
}
.gallery-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

  }
  .gallery-container img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
    cursor: pointer;
  }
  .collage-link {
    color: black;
    text-decoration: none;
  }
  .collage-link > div > p {
    color: black;
  }