.about-section-box {
    margin: 5em;

}

.inner-column h1 span {
    color: #d0a772;
}

.row {
    display: none;
}

img {
    vertical-align: middle;
    border-style: none;
}

.img-fluid {
    box-shadow: -10px -10px 0px #d0a772;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.col-lg-6>.img-fluid {
    width: 100%;
    transition-duration: .3s;
    max-width: 100%;
    display: block;
    overflow: hidden;
    cursor: pointer;
}

.inner-column h5 {
    margin-bottom: 1.5em;
    color: darkgrey;
    font-weight: 200;
}

.inner-column p {
    text-align: start;
    padding-left: 4em;
}