.card-page-container {
    padding: 2em;
}

.product-card-container,
.product-image-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.card-page-container {
    position: relative;
    right: 8%;
}

.close-prduct-page-icon p {
    margin-top: 0.7em;
    color: black;
}

.close-prduct-page-icon p:hover {
    color: #686868;
    transition: all .2s ease-in-out;
}

.product-image-container img {
    height: 50vh;
    margin-right: 3em;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    aspect-ratio: 3/4;
    object-fit: contain;
}

.product-subject-info {
    display: flex;
    justify-content: start;

}

.product-subject-user-info .card__thumb {
    display: flex;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0%;
    margin: 0%;

    object-fit: contain;
}

.product-subject-user-info {
    display: flex;
    justify-content: start;
}

.userName-product-page {
    padding: 0%;
    position: relative;
    top: 10px;
    left: 20px;
}

.status-container {
    display: flex;
    position: relative;
    right: 20px;
    margin-top: 1.3em;
}

.status-container p {
    border: 1px solid rgb(141, 141, 141);
    width: max-content;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 25px;
    margin-left: 1em;
    text-align: left;
}

.product-subject-info p {
    padding-right: 1em;
    /* padding-left: 1em; */
}

.subject-and-user-info {
    margin-top: 2em;
}

.product-connection-info {
    margin-top: 1em;
}

.post-time {
    color: gray;
    font-size: 13px;
}

/* 
.contact-button {
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    background: #d0a773;
    transition: all 0.3s ease-in-out 0s;
}

.contact-button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
} */