@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");



.header {
    min-height: 60vh;
    background: #009FFF;
    background-image: linear-gradient(to right, #e4a150 0%, #c48e1c 100%);
    color: white;
    clip-path: ellipse(100vw 60vh at 50% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    text-align: center;
    position: relative;
}

.profile-pic {
    height: 7rem;
    width: 7rem;
    object-fit: center;
    border-radius: 50%;
    border: 2px solid #fff;
}

.location p {
    display: inline-block;
}

.heading {
    font-weight: 400;
    font-size: 1.3rem;
    position: relative;
    bottom: 0.3em;
    margin: 1rem 0;

}

.profilePageHeadericons {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    padding: 0em 0.2em;
    text-decoration: none;
}



.profilePageHeadericons:hover {
    transition: .2s ease-in-out;
    color: rgb(231, 189, 3);
    cursor: pointer;
}

.location svg {
    vertical-align: middle;
}

.stats {
    display: flex;
    padding-top: 4em;
    justify-content: space-around;

}

.stats .col-4 {
    color: white;
    text-align: center;
    margin: 0em 4em;
    transition: .2s ease-in-out;
    width: 20%;
}

.stats .col-4 h5 {
    margin: 8px;
}

.stats .col-4:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
    background-color: aliceblue;
    border-radius: 0.6em;
    color: #000;
}

.activCategory {
    transition: all 0.2s ease-in-out 0s;
    background-color: aliceblue;
    border-radius: 0.6em;
}

.activCategory h5 {
    color: #000;
}


@media (max-width:1050px) {
    .stats .col-4 {
        transition: .2s ease-in-out;

        margin: 0em 2em;

    }
}

@media (max-width:670px) {
    .stats .col-4 {
        transition: .2s ease-in-out;
        width: fit-content;
        margin: 0em 1em;

    }
}

@media (max-width:460px) {
    .stats .col-4 {
        transition: .2s ease-in-out;
        margin: 0em 0.7em;
        width: fit-content;
    }

    .stats .col-4 h5 {
        transition: .2s ease-in-out;
        font-size: 1em;
        width: fit-content;
    }
}

@media (max-width:350px) {
    .stats .col-4 {
        transition: .2s ease-in-out;
        margin: 0.5em;
        width: fit-content;
    }


}

/* posts section */
.publishedBooks {
    font-weight: 100;
    position: relative;
    top: -1em;
}

.style-5 {
    color: #000;
    font: 15px Montserrat;
    text-transform: uppercase;
    padding: 4em 0px 4em 0px;
    font-weight: 600;
    max-width: 250px;
    /* max width of button */
    display: block;
    text-align: center;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.style-5:before,
.style-5:after {
    content: "//////";
    color: orange;
    font-size: 18px;
    font-family: consolas;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

}

.style-5:before {
    margin-right: 10px;
}

.style-5:after {
    margin-left: 10px;
}

.style-5:hover:before,
.style-5:hover:after {
    letter-spacing: -2px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.style-5:hover {
    color: orange;
}

.none {
    display: none;

}