.w-100{
   max-height: 52.5em;
}
.col-md-12 > h1{
    font-size: 65px;
    font-weight: 300;
    line-height: 74px;
    color: #fff;
    font-family: 'Arbutus Slab', serif;
    margin-bottom: 5em;
}

/* .carousel-control-next-icon{
    background-color: #cfa573;
    transition: all .45s;
}
.carousel-control-next-icon:hover{
    text-align: center;
    height: 3em;
    width: 3em;
    background-color: #cfa573;
    transition: all .45s;
} */
@media (max-width:800px){
    .w-100{
        height: revert;
        
    }
    .col-md-12 > h1{
    font-size: 45px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
    font-family: 'Arbutus Slab', serif;
    margin-bottom: 2em;
    transition: all 0.3s ease-in-out 0s;

    }
}