/* same style for register and login pages  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.register-form-parent {
  margin-bottom: 11em;
  height: 100vh;

}

section {
  display: flex;
  max-width: 420px;
  min-height: 400px;
  flex-direction: column;
  justify-content: flex-start;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;

}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="url"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  text-transform: none;

}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}



.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  position: relative;
  width: fit-content;
  margin-bottom: 3.5em;
  transition: all 0.3s ease-in-out 0s;
}

.instructions>span {
  color: rgb(206, 180, 67);
  font-size: x-large;

}

.instructions>svg {
  margin-right: 0.25rem;

}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
  transition: all 0.3s ease-in-out 0s;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;

}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;

}

.line {
  display: inline-block;
}

@media (max-width:700px) {
  section>p {
    font-weight: 100;
    font-size: small;
  }

  section>form>div>label {
    font-weight: 100;
    font-size: small;
  }

  .instructions {
    font-size: x-small;
  }

  .instructions>span {
    font-size: small;
  }

}